# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
module-03/.vscode/settings.json
module-03/ex00/Aaaaand...OPEN!
.gitignore
module-04/ex01/BrainingTime
module-04/ex00/polymorphism
